body 
{
    margin: 0;
    min-height: 100vh;
}

.hero 
{
    position: relative;
    height: 750px;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    background-color: rgb(8, 20, 58);
}
  
.hero-photo-wrap 
{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 550px;
    overflow: hidden;
}
  
.hero-photo 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 15%;
    display: block;
}
  
.hero-photo-fade 
{
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to right,
      rgb(8, 20, 58) 0px,
      rgba(8, 20, 58, 0.85) 60px,
      rgba(8, 20, 58, 0.6) 120px,
      rgba(8, 20, 58, 0.3) 180px,
      transparent 240px
    );
}
  
.hero-overlay 
{
    display: none;
}
  
.hero-nav,
.hero-content 
{
    position: relative;
    z-index: 2;
}
  
.hero-nav 
{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* gap: 1.5rem; */
    padding: 2rem 3rem;
}
  
.brand h1 
{
    font-family: 'Oswald', serif;
    font-size: 31px;
    font-weight: bolder;
    letter-spacing: normal;
    line-height: 40.3px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    padding: 0 12rem;
}
  
.brand p 
{
    font-family: 'Oswald', serif;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 19px;
    color: #fff;
    margin: 0.1rem 0 0;
    text-align: center;
    text-transform: uppercase;
}
  
.nav-links 
{
    list-style: none;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    gap: 2rem;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', serif;
}
  
.nav-links a 
{
    color: #fff;
    text-decoration: none;
    font-size: 14px;;
}
  
.nav-links a:hover 
{
    text-decoration: underline;
}
  
.contact-btn 
{
    background: #fff;
    color: #0d1b3d;
    font-weight: 600;
    padding: 0.75rem 2rem;
    border-radius: 999px;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 100px;
}
  
.hero-content 
{
    max-width: 650px;
    padding: 4rem 10rem 5rem;
}
  
.hero-content blockquote 
{
    font-family: 'Inter', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 43px;
    line-height: 1.25;
    color: #fff;
    margin: 0 0 0rem;
}
  
.hero-desc 
{
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin: 1rem 0;
}
  
.cta-group 
{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
  
.cta-btn 
{
    background: #fff;
    color: #0d1b3d;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-decoration: none;
}
  
.cta-btn:hover 
{
    background: #f0f0f0;
}
  
@media (max-width: 700px) 
{
    .hero-content blockquote,
    .quote-author 
    {
      font-size: 1.6rem;
    }
    .hero-nav 
    {
      justify-content: center;
      text-align: center;
    }
}